@import '../../styles/mixins.scss';

#tooltip {
  position: absolute;
  @include display-flex(column);
  margin-top: 85px;
  width: 100%;
  div {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #222222;
  }
  span {
    display: inline-block;
    padding: 6px 7px;
    background: #222222;
    color: white;
    text-transform: capitalize;
    font-size: 0.75rem;
  }
}
