@mixin drawing-board($z-index) {
  position: absolute;
  z-index: $z-index;
  width: 100vw;
  height: 100vh;
}

#drawingBoard {
  @include drawing-board(-2);
}

#lineDrawingBoard {
  @include drawing-board(-1);
  background: transparent;
}

#contentEditableSpan {
  position: absolute;
  font-size: 1.563rem;
  height: 0.875rem;
  min-width: 0.063rem;
  outline: none;
}