@mixin drawing-board($z-index) {
  position: absolute;
  z-index: $z-index;
  width: 100vw;
  height: 100vh;
}

#drawingBoard {
  @include drawing-board(-2);
}

#lineDrawingBoard {
  @include drawing-board(-1);
  background: transparent;
}
